/* import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Influencer project style  */



/* css reset */
* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

/* header css  */
.header {

    max-width: 1200px;
    margin: 0 auto;
    /* background-color: gray; */
    margin-top: 87px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
}

.nav-list{
    display: flex;   justify-content: center;
    align-items: center;
    gap: 34px;
}

.nav-list ul {
    display: flex;  
}

.nav-list ul {
    list-style-type: none;
}

.nav-list ul li a {
    text-decoration: none;
    margin-right: 36px;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px 20px 0px;
    margin-bottom: 70px;
}

.banner-details {
    width: 582px;
}

.banner-img .circle {
    background-image: url('images/Circle\ design.svg');
    background-size: 422px;
    background-position: left;
    background-repeat: no-repeat;
}

.banner-img img {
    width: 440px;
    height: 414px;
}

.banner-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-btn {
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    outline: none;
    color: white;
}

.main {
    max-width: 1110px;
    margin: 0 auto;
}

/* company section style  */

.company {
    border-top: 1px solid rgb(224, 221, 221);
    border-bottom: 1px solid rgb(224, 221, 221);
    padding: 10px 0px;
    margin-bottom: 100px;
}

.company img {
    margin-right: 60px;
}

/* product section style */
.section-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}

/* collection container css  */
.product {
    margin-bottom: 120px;
    padding: 20px;

}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}



.collection {
    background-color: white;
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 16px rgb(230, 227, 227);

}

.collection img {
    width: 100%;
}

.coll-title {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}

.price {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.rating {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}

.rating .fa-star {
    color: #FB8200;

}

.coll-info p {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

.see-more {
    width: 100%;
    text-align: right;
}

.see-more p {
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    cursor: pointer;
}



/* future product style  */
.futured-product {
    width: 100%;
    display: flex;
    gap: 96px;
    margin-bottom: 100px;
}


.futured-product img {
    width: 404px;
    height: 270px;
}

.futured-info h2 {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 16px;
}

.futured-info p {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 16px;
}

.futured-info button {
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border: none;
    outline: none;
}


/* footer section style  */

.footer {
    background: #0A0826;
    color: white;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container p{
    margin-bottom: 3px;
    font-weight: 700;
font-size: 14px;
color: #D9DBE1;
}

.footer-title{
    font-weight: 700;
font-size: 24px;
margin-bottom: 3px;
}
.social{
    margin-top: 15px;
    display: flex;
    gap: 16px;
}
.social .icon{
   width: 32px;
   height: 32px;
   font-size: 28px;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}